<h1>Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Evento</th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= link_to evento.nombre, evento %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
